html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* ICONS */

/* TEXT */
.smallText {
	font-size: 80%;
}

.smallerText {
	font-size: 90%;
}







/*class header */

#Navibar {
  background-color: #5b08ad;
  color: white;
  padding: 20px;
  height: 100px;
  z-index: 12;
}

#Navibar:after {
  content: "";
  display: table;
  clear: both;
}

#classMenu {
	position: relative;
	float: left;
	width: 48px;
	height: auto;
}

#classTitle {
	float: left;
	width: auto;
}

#classApps {
	float: right;
	width: 48px;
	margin-right: 12px;
}



#Jumbo {
  background-color: #8606ad;
  padding-left: 110px;
  padding-top: 20px;
  height: 140px;
}

#Jumbo .name {
	float: left;
	width: 140px;	
}


#Jumbo .date {
	float: left;	
	width: 200px;	
}


#Jumbo .comments {
	float: left;
	width: auto;	
	
}




#Body{
  padding-top: 20px;
  padding-left: 110px;
  padding-right: 0px;
}

#MainCol{
  padding-right: 0px;
  background-color: #fcecff;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  height: 100em;
}


/* SIDEBAR */

#SideBar{
  background-color: white;
  width:300px;
  padding:0;
}

.extensionHeader {
	background-color: #0055FF;
	padding: 0;
	height: 48px;
	width: 100%;
}

#searchLabel {
	position: relative;
	float:left;
	padding:20px;
}

#clearSearch {
	position: relative;
	float:left;
	margin-top: 20px;
	width: 20px;
	height: 20px;
}

#Results {
	position: relative;
	width: 320px;
	margin-top: 60px;
	padding: 6px 20px;
}

#thumb, img {
	margin-top: -6px;
	width: 318px;
	border-radius: 8px 8px 0 0;
}

.resultTitle {
	font-size:smaller;
	font-weight: bold;
	padding: 2px 12px 12px 12px;
}

#WikiResult {
		width: 320px;

  border-radius: 8;
  border: 1px solid #eee;
  padding: 0;
  margin-bottom: 16px;
}


#AskMoArticle {
	width: 320px;
  border-radius: 8;
  border: 1px solid #eee;
  padding: 0;
  margin-bottom: 16px;
}

.questionsTitle {
	font-weight: bold;
	font-size: smaller;
	border-bottom: 1px solid #eee;
	padding-bottom: 12px;
}


#AskMoQuestions{
width: 320px;
  border-radius: 8;
  border: 1px solid #eee;
  padding: 12px;
  padding-bottom: 0;
}

#AskMoQ {
  font-size: smaller;
  font-weight: medium;
}













/* NOT BEING USED 

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*/
